[**@astrospec/runtime**](../README.md)

***

[@astrospec/runtime](../README.md) / VerificationReport

# Interface: VerificationReport

Defined in: packages/astrospec-runtime/dist/index.d.ts:281

## Properties

### at

> **at**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:286

***

### contextId?

> `optional` **contextId**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:282

***

### meta?

> `optional` **meta**: [`JsonObject`](JsonObject.md)

Defined in: packages/astrospec-runtime/dist/index.d.ts:287

***

### overall

> **overall**: `boolean`

Defined in: packages/astrospec-runtime/dist/index.d.ts:284

***

### results

> **results**: [`VerifierResult`](VerifierResult.md)[]

Defined in: packages/astrospec-runtime/dist/index.d.ts:285

***

### turnId?

> `optional` **turnId**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:283
