[**@astrospec/retrieval-profile**](../README.md)

***

[@astrospec/retrieval-profile](../README.md) / ValidationResult

# Type Alias: ValidationResult\<T\>

> **ValidationResult**\<`T`\> = `object`

Defined in: [src/index.ts:228](https://github.com/OrionAi-dev/AstroSpec/blob/2f5aa7cd50afa970b2003398852c244f8050f71c/packages/astrospec-retrieval-profile/src/index.ts#L228)

## Type Parameters

### T

`T` = `unknown`

## Properties

### errors

> **errors**: `string`[]

Defined in: [src/index.ts:230](https://github.com/OrionAi-dev/AstroSpec/blob/2f5aa7cd50afa970b2003398852c244f8050f71c/packages/astrospec-retrieval-profile/src/index.ts#L230)

***

### issues

> **issues**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [src/index.ts:231](https://github.com/OrionAi-dev/AstroSpec/blob/2f5aa7cd50afa970b2003398852c244f8050f71c/packages/astrospec-retrieval-profile/src/index.ts#L231)

***

### ok

> **ok**: `boolean`

Defined in: [src/index.ts:229](https://github.com/OrionAi-dev/AstroSpec/blob/2f5aa7cd50afa970b2003398852c244f8050f71c/packages/astrospec-retrieval-profile/src/index.ts#L229)

***

### value?

> `optional` **value**: `T`

Defined in: [src/index.ts:232](https://github.com/OrionAi-dev/AstroSpec/blob/2f5aa7cd50afa970b2003398852c244f8050f71c/packages/astrospec-retrieval-profile/src/index.ts#L232)
