[**@mcp-secure-context/openspec**](../README.md)

***

[@mcp-secure-context/openspec](../README.md) / VerificationReport

# Interface: VerificationReport

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:294

## Properties

### at

> **at**: `string`

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:299

***

### contextId?

> `optional` **contextId**: `string`

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:295

***

### meta?

> `optional` **meta**: [`JsonObject`](JsonObject.md)

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:300

***

### overall

> **overall**: `boolean`

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:297

***

### results

> **results**: [`VerifierResult`](VerifierResult.md)[]

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:298

***

### turnId?

> `optional` **turnId**: `string`

Defined in: packages/mcp-secure-context-openspec/dist/index.d.ts:296
